.home-films .slick-prev::before,
.home-films .slick-next::before {
  color: black;
  font-size: 25px;
}

.active-film {
  @apply bg-gray-500 text-white;
}
.title {
  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 300;
    color: #222;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: 1fr max-content 20fr;
    grid-template-rows: 27px 0;
    grid-gap: 20px;
    align-items: center;

    &::after,
    &::before {
      content: " ";
      display: block;
      border-bottom: 1px solid #c50000;
      border-top: 1px solid #c50000;
      height: 5px;
      background-color: #f8f8f8;
    }
  }
}
